doctype html
html(ng-app="app")
  head(lang="en")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    base(href="/")
    title ToDo List
    //- inject:css
    //- endinject
  body
    include _navbar
    .container
      .ui-view
    //- inject:js
    //- endinject