.tasks.index
  .col-xs-10.col-xs-offset-1
    .with-tasks(ng-show="tasks.length")
      h3.text-center All tasks
      p.text-center
        a.btn.btn-info(ui-sref="tasks.new") Add a task
      table.table
        tr(ng-repeat="t in tasks | orderBy: 'title'")
          td.col-xs-6.title.vertical-align {{ t.title }}
          td.col-xs-6
            .pull-right
              a.btn.btn-danger(ng-click="removeTask(t)") Remove
              a.btn.btn-primary(ui-sref="tasks.edit({ id : t.id })") Edit
    .without-tasks(ng-hide="tasks.length")
      h3.text-center There are no tasks. 
        a(ui-sref="admin.users.new") Add the first task.